/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
        Dark cyan:          hsl(158, 36%, 37%)
        Cream:              hsl(30, 38%, 92%)
        Very dark blue:     hsl(212, 21%, 14%)
        Dark grayish blue:  hsl(228, 12%, 48%)
        White:              hsl(0, 0%, 100%)
    */
  
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%); 
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | .875rem =14px | 1rem = 16px ...*/
    --body-font: 'Montserrat', sans-serif;
    --body-font: 'Fraunces', serif;
    --normal-font-size: .875rem;
  
  
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
  

  }